 .footerContent1{
    display: flex;
    flex-direction: row;
     justify-content:flex-end;
     padding-top: 30px;
     padding-bottom: 150px;
}

.mainContent1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 368px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 48px 40px 36px 40px ;

}  


.Logo2 {
    display: flex;
    justify-content: center;
    font-size: 150%;
  font-weight: bold;
  }

  .email{
      padding-top: 30px;

  }

  @media only screen and (max-width: 600px){
    .mainContent1{

        border: none;
    }
}